.navbar-container{
    display: flex;
    justify-content: space-between;
position: relative;}


.navbar-container::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #00000087;
    backdrop-filter: blur(5px);

}

.navbar-container > .contents{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    align-items: center;
    padding: 1rem 4rem;
    z-index: 2;
}

.logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 19px;
}

.logo span {
    font-size: 25px;
    color: blue;
    font-weight: bold;
}

nav{
    gap: 3rem;
    display: flex;
}

.link{
    color: white;
    text-decoration: none;
}



